h1{
    line-height: 79px;
    font-size: 89px;
    font-weight: black;
    color:#FFB300;
}

p{
    color:black;
    font-size: 21px;
    font-weight: bold;
}

div{
    font-size: 21px;
    font-weight: 549
    line-height: 1.61;
    color:black;
}

h2{
    font-size: 34px;
    color:#FFB300;
    font-weight: Bold;
}

ul{
    font-size: 21px;
    font-weight: 549;
    line-height: 21px*1.61;
}

ol{
    font-size: 21px;
    font-weight: 549;
    line-height: 21px*1.61;
}

a{
    font-size: 21px;
    font-weight: Black;
    color: #0037B3;
}