:root{
    padding: 1.5rem;
    font-family:Arial, Helvetica, sans-serif;
}

h1{
    line-height: 79px;
    font-size: 89px;
}

h2{
    font-size: 34px;
}

h1,h2{
    font-weight: bold;
    color:#FFB300;
}

p,ul,ol,a{
    font-size: 21px;
}

p,div{
    color:black;
}

p.bold,a.bold,strong.bold{
    font-weight: 900;
}

p.semibold,ul.semibold,ol.semibold{
    font-weight: 600;
}

ul,ol{
    line-height: 1.61;
}

a{
    color: #0037B3;
}

img,iframe,body{
    width: 883px;
}

img{
    height: 374px;
}

iframe{
    height: 497px; 
}

p.semibold{
    margin: 0 0 34px 0;
}